@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

:root {
  --main-background-color: #171717;
  --main-text-color: #ffffff;
  --secondary-text-color: #cccccc;
  --dark-grey: #433E37;

  --red-color: #c72b20;
  --light-red-color: #FB5C6A;

  --short-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}